

.wrap {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.blur p{
    z-index: 1;
    text-shadow: 0 0 2px #000;
    color: transparent;
    font-size: 1.2em;
    line-height: 1.5;
    position:absolute; background:white;
    filter:alpha(opacity=50);-moz-opacity:.5;
    opacity:.50; 
    height: 100%; 
    top: 5px;
    letter-spacing: 15%;
    
}

.contentwrap {
    position: relative;
    z-index: 2;
    background: #FFF;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 2em;
    margin-top: -1em;
    background-color: rgb(71, 71, 71) 
}

.centertext {
    text-align: center;
}

.player {margin-left: auto; margin-right: auto; margin-top: 4%;}

h1 { font-size: 3em; 
text-shadow: 0px 1px 0px rgb(119, 119, 119);
}

h3 {
    font-size: 2em;
    color: #F2F2F2;
}

p { color: #F2F2F2; }
    
.song { font-size: 1.45em; color: #D1D1D1;}    
.by { font-size: .9em; 
    color: #848484;
}
.artist { font-size: 1.95em; 
    color: #CF6A4B;
}
.description { display: block; font-size: 12pt; padding-left: 2%; padding-right: 2%; line-height: 1.5;}

.seperator { margin-top: 3%; margin-bottom: 3%; width: 70%; }

.disclaimer { font-size: .6em; text-align: center; padding-top: 2em; }
